/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.navigation .logo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #1e0460;
  padding-bottom: 20px;
  font-family: Roboto;
}

.navigation .list {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.landing {
    margin-top: 60px;
    border-top: 1px solid #dee2e6;
    padding: 100px 50px;
    display: flex;
    flex-direction: row 
}

.landingText {
  display: flex;
  flex-direction: column;
}



.woman {
  width: 95%;
}

